<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pay your invoice now, <%= @customer.name %></h1>
    <p>
      To pay this invoice, just click in this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>

