<% content_for :title, "Customers" %>

<h4>Customers</h4>

<table id="customers" class="striped">
  <thead data-theme="light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Due Day</th>
      <th scope="col">Payment Method</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr id="<%= dom_id customer %>">
        <%= render customer %>
        <td><%= link_to "Show", customer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>
