<nav>
  <ul>
    <li><strong>Collector</strong></li>
  </ul>
  <ul>
    <li><%= link_to "Customers", root_path %></li>
    <li><%= link_to "Today reports", invoice_reports_path %></li>
    <li><%= link_to "New customer", new_customer_path %></li>
  </ul>
</nav>
